/* AuctionModal.css */
.modal-overlay {
  width: calc(100% - 23px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  width: 92%;
  max-width: 500px;
  background-color: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 24px; /* 이미지 크기 조절 */
  height: 24px;
  cursor: pointer;
}
.modal-content h2 {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 18px;
}

.modal-content p {
  font-size: 13px;
  margin-bottom: 15px;
  text-align: left;
}

.modal-content .highlight {
  color: #f00;
  font-weight: bold;
}

.modal-content ul {
  padding: 0;
  margin: 20px 20px;
  list-style-type: disc;
  font-size: 14px;
}

.modal-content ul li {
  margin-bottom: 10px;
}

.confirm-button {
  width: 100%;
  height: 50px;
  background-color: #1feb58;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
