/* Navbar.css */
.navbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 70px;
  padding: 3px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; /* 배경색 */
  border-top: 1px solid #ccc; /* 상단 테두리 */
  z-index: 1000; /* 다른 요소 위에 고정 */
}
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-icon {
  width: 24px; /* 아이콘 크기는 필요에 따라 조절하세요 */
  height: 24px;
  color : #d5d5d5;
}

.nav-text {
  width: 50px;
  height: 18px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 600;
  font-size: 12px; /* 필요에 따라 조절 */
  line-height: 18px;
  text-align: center;
  margin-top: 4px; /* 아이콘과 텍스트 사이 간격 */
}
